#header, #footer
{
    position: fixed;
    left: 0;
    right: 0;
    color: #444;
    font-size: 0.9em;
}
#header
{
    top: 0;
}
#footer
{
    border-top: 0.1pt solid #999;
    padding-top: 5pt;
    font-size: 0.8em;
    line-height: 1.05em;
}
.page-number
{
    text-align: center;
    margin: 5pt auto;
}
img.alignright { float: right; }
img.alignleft { float: left; }

body
{
    font-family: sans-serif;
    text-align: justify;
    font-size: 8pt;
}
div#attestation,
div#accord-comm
{
    font-size: 10pt;
}

div.reglement-interieur p
{
    margin: 2px 0;
}

.page-number:before
{
     content: "Page " counter(page);
}
h1
{
    background-color: #f05323;
    text-align: center;
    page-break-before: always;
    break-before: always;
}
h1:nth-of-type(1)
{
    page-break-before: avoid;
    break-before: avoid;
}
h2, h3, h4, h5
{
    page-break-after: avoid;
    break-after: avoid;
}
h2:nth-of-type(1),
h3:nth-of-type(1),
h4:nth-of-type(1),
h5:nth-of-type(1)
{
    margin-top: 0px;
}
h3
{
    font-size: 14pt;
}
h4
{
    font-size: 12pt;
    margin: 10pt 0 7pt 0;
}
div.footnote
{
    position: absolute;
    bottom: 0;
}

table.signature,
table.cartouche { width: 100%; }

table.signature { table-layout: fixed; }

tr.signature { height: 50mm; }

.cartouche td { border: 0.1mm solid #CCC; text-align: center; }

img.pv-secu
{
    height: 245mm;
    width: 173mm;
    margin: auto;
}
img.photo-formateur
{
    width: 35mm;
    height: auto;
    margin: 0 0 5mm 5mm;
    float: right;
}
/* Proposition de formation */
.proposition p,
.proposition ul,
.proposition ol,
{
    margin: 0 0 2mm 0;
    font-size: 7pt;
    font-weight: normal;
}
.proposition td
{
    vertical-align: top;
    border-bottom: 0.1mm solid #CCC;
    font-size: 7pt;
    padding: 1mm 0 3mm 4mm;
}
.proposition tr > td:nth-of-type(1)
{
    width: 30mm;
    padding-right: 4mm;
    padding-left: 0;
    font-weight: bold;
}
.proposition td p:first-child,
.proposition td ol:first-child,
.proposition td ul:first-child
{
    margin-top: 0mm;
}
.proposition td p:last-child,
.proposition td ul:last-child,
.proposition td ol:last-child
{
    margin-bottom: 0mm;
}
table.proposition
{
    margin-bottom: 6mm;
}

table.eval { width: 100%; }
td.td-titre { font-size: 12pt; font-weight: bold; }
td.td-value { width: 10mm; border: 0.1mm solid #AAA; color: #AAA; text-align: center; }
td.td-plusmoins { text-align: center; font-weight: bold; }
td.td-reponse-t { border-bottom: 0.1mm solid #CCC; }
td.td-reponse-ta { height: 15mm; border-bottom: 0.1mm solid #CCC; }

/* feuille d'émargement */
.emargement h2
{
    background-color: #f05323;
    text-align: center;
}
table.tableau-dates,
table.tableau-stagiaires
{
    width: 100%;
    border-collapse: collapse;
}
table.tableau-dates td,
table.tableau-dates th,
table.tableau-stagiaires td,
table.tableau-stagiaires th
{
    height: 13mm;
    border: 0.2mm solid #AAA;
    text-align: center;
}
table.tableau-dates th.date,
table.tableau-stagiaires th.stagiaire
{
    width: 50%;
}
table.tableau-dates th.plage,
table.tableau-stagiaires th.plage
{
    width: 20%;
}

div.saut-de-page { page-break-after: always; }
